body {
}

.filterContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid darkgrey;
    margin-right: 5px;
    padding: 5px;
    background:#f8f7f7;
}

.drop{
    display: flex;
    flex-direction: column;
}
.filterContainerFather{
    display: flex;
    flex-direction: row;
    
}

.Product{
    width: 200px;
    height:400px;
    border: 1px solid darkgray;
    margin-right:20px;
    padding: 4px;
    text-align: center;
    
}

.ProductImage{
    width:inherit;
    height:inherit;
    border: 5px solid red;
}
.ProductContainer{
    display:grid;
    grid-template-columns: auto auto auto;
}

.modelYearInput{
    width:100px;
}

.searchBtn {
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #0fd4f7;

    
}

#searchSpan{
    margin-left:20px;
    margin-right: 20px;
    padding: 8px 15px;
    
    text-align:center;
}

#searchRow{
    display: flex;
    justify-content: space-between;
}

.productRow{
    display:flex;
    text-align:center;
    justify-content:space-around;
}

.divider {
    width:inherit !important;
    border-bottom: 1px solid darkgray;
}

.filterContainer div{
    margin: 2px;
}

.verticalDivider {
    width: 1px;
    margin: 1px 0;
    background: darkgray;
    height:inherit;
}

.compareAddTo{
    display: flex;
    justify-content: space-between;
}