body {
    background: linear-gradient(DeepSkyBlue,white) no-repeat center center fixed !important;
    text-align: center;
    background-size: cover;
}
#jooleImage{
    margin-top: 100px;
}
.btn {
    background-color: Highlight;
}

#searchInput{
    width: 400px;
}