#header {
    background-image: linear-gradient(#053354, white);
}
.form-group{
    margin-bottom: 0;
}
.form-group label {
    margin-bottom: 0;  
    background: gray;
}


th {
    width: 27%;
}
th:empty {
    width: 19%    
}
